<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>

    {% comment %} Add ccss at the end of project {% render 'ccss' %}{% endcomment %}
    {% render 'header_meta' %}
    {% render 'social-meta-tags' %}
    {% render 'header-styles' %}
    
    {% comment %} Shopify default code {% endcomment %}
    {{ content_for_header }}

  </head>

  <body class="template-password">

    {%- capture main_content -%}

      {{ content_for_layout }}
      {% section 'password-template' %}

    {%- endcapture -%}
    
    {{ main_content  | replace: '', ''}}

    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    {% render 'footer-js' %}

  </body>
</html>

