<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
    <head>

        {% comment %} Add ccss at the end of project {% render 'ccss' %}{% endcomment %}
        {% render 'header_meta' %}
        {% render 'social-meta-tags' %}
        {% render 'header-styles' %}
        {% render 'cookie-logic' %}


        {% render 'product-card-content-and-colours' %}

        {% section 'cookie-modal' %}
        {% comment %} Shopify default code {% endcomment %}
        {{ content_for_header }}

    </head>

    <body  class="h-screen font-body template-{{ template.directory }} template-name-{{ template.name }} handle-{{ page.handle }}" data-add-class="overflow-hidden">

        {% render 'schema-data' %}

        {% comment %}
			captures everything to be output into theme files, by capturing it we can find and replace invisible elements that might be copied and pasted into the site
		{% endcomment %}
        {%- capture main_content -%}

            {% section 'site-header' %}
            {%- comment -%} {% section 'site-header-v2' %} {%- endcomment -%}
            {% comment %}
				Alternative Site header style using the same html, parts can be swapped between the two versions
				
			{% endcomment %}
            {% assign full_url = request.host | append: request.path %}
                {% if full_url contains "tools/recurring/portal" %}
                {% section 'customer-account-nav' %}
                    <h1 class="font-headline text-headline-1 pb-6 bg-tertiary-900 px-4 | lg:text-headline-1-lg lg:px-20"> Manage subscriptions</h1>
            {% endif %}

            {{ content_for_layout }}
            {%- comment -%} {% section 'instagram-feed' %} {%- endcomment -%}
            {% section 'site-footer' %}
            {% unless template == 'cart' %}
                {% section 'cart-data' %}
            {% endunless %}
            {%- comment -%} {% section 'vue-cart' %} {%- endcomment -%}
            {% section 'newsletter-modal' %}

        {%- endcapture -%}

        {{ main_content | replace: '', '' }}

        {% render 'footer-js' %}

    </body>
</html>