{% assign ss = section.settings %}

{% if ss.collections %}


    <section data-vue-app class="collection-overview | relative w-full px-container-gutter pt-10 pb-12 max-w-[1920px] mx-auto | lg:pt-20 lg:pb-0 lg:px-container-gutter-lg | {{ ss.text-align }} {{ ss.bg_color }}-{{ ss.bg_color_shade }} {{ ss.bg_color | replace: 'bg', 'fill' }}-{{ ss.bg_color_shade }}">

        {% if ss.title != blank %}
            <h2 class="title | mb-6 {{ ss.title_typeface }} {{ ss.title_weight }} {{ ss.title_color }}-{{ ss.title_color_shade }} {{ ss.title_size }} lg:{{ ss.title_size }}">
                {{ ss.title }}
            </h2>
        {% endif %}

        {% if ss.subtitle != blank %}
            <div class="content | mb-6 max-w-[414px] w-full mx-auto | | {{ ss.subtitle_typeface }} {{ ss.subtitle_size }} {{ ss.subtitle_weight }} {{ ss.subtitle_color }}-{{ ss.subtitle_color_shade }}">
                {{ ss.subtitle }}
            </div>
        {% endif %}

        {% comment %}
            <div
            class="btn-wrapper | -mx-gutter flex {{ ss.text-align }}">

            {% if ss.btn_url != blank %}
                {% render 'button' element: 'a', type: '', href: ss.btn_url, target: '', border_color: ss.btn_border_color, border_color_shade: ss.btn_border_color_shade, border_width: 'border', bg_color: ss.btn_color, bg_color_shade: ss.btn_color_shade, text_color: ss.btn_text_color, text_color_shade: ss.btn_text_color_shade, hover_bg: ss.btn_hover_color, hover_bg_shade: ss.btn_hover_color_shade, hover_border_color: ss.btn_hover_border_color, hover_border_color_shade: ss.btn_border_hover_color_shade, hover_text: ss.btn_hover_text_color, hover_text_shade: ss.btn_hover_text_color_shade, content: ss.btn_text, custom_class: 'mx-gutter', before_icon: '', after_icon: '' %}
            {% endif %}

            {% if ss.alt_btn_url != blank %}
                {% render 'button' element: 'a', type: '', href: ss.alt_btn_url, target: '', border_color: ss.alt_btn_border_color, border_color_shade: ss.alt_btn_border_color_shade, border_width: 'border', bg_color: ss.alt_btn_color, text_color: ss.alt_btn_text_color, text_color_shade: ss.alt_btn_text_color_shade, hover_bg: ss.alt_btn_hover_color, hover_bg_shade: ss.alt_btn_hover_color_shade, hover_border_color: ss.alt_btn_hover_border_color, hover_border_color_shade: ss.alt_btn_border_hover_color_shade, hover_text: ss.alt_btn_hover_text_color, hover_text_shade: ss._alt_btn_hover_text_color_shade content: ss.alt_btn_text, custom_class: 'mx-gutter', before_icon: '', after_icon: '' %}
            {% endif %}

            </div>
        {% endcomment %}


        <div class="collection-nav | flex gap-2 items-center ">
            <p class="w-[61px] flex-shrink-0 whitespace-nowrap">Best for:
            </p>
            <div class="flex items-center overflow-x-auto gap-2 basis-[85%] flex-grow | lg:basis-4/5">
                {% for collection in ss.collections %}
                    {% if collection.products.size > 0 %}

                        <a
                            class="collection-nav-link | {%if forloop.first %} active {% endif %} | rounded border border-secondary-900 uppercase flex items-center justify-center px-2 py-1 z-[11] text-body-medium-lg transition-all whitespace-nowrap	| hover:bg-secondary-900 hover:text-tertiary-900"
                            data-collection="{{ collection.id }}"
                            data-collection-url="{{ collection.url }}"
                            data-collection-title="{{ 'Shop ' | append: collection.title | append: ' collection'  }}"
                            data-collection-nav-link
                            href="#">{{ collection.title }}
                        </a>

                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-controls | hidden justify-end gap-4 basis-[10%] h-[32px] items-end | lg:flex">
                <div class="swiper-button-prev !hidden !static !justify-start after:!content-none !w-auto !h-[32px] | md:!block">

                    <i class="ri-arrow-left-line text-headline-5 text-secondary-900"></i>

                </div>
                <div class="swiper-button-next !hidden !static !justify-start after:!content-none !w-auto !h-[32px] | md:!block">
                    <i class="ri-arrow-right-line text-headline-5 text-secondary-900"></i>
                </div>
            </div>
        </div>

        <div class="spacer | border border-black mt-5 mb-6"></div>

        <div class="carousel-controls | flex justify-end gap-4 basis-[10%] h-[32px] mb-6 items-end | lg:hidden">
            <div class="swiper-button-prev !block !static !justify-start after:!content-none !w-auto !h-[32px] | md:!hidden">

                <i class="ri-arrow-left-line text-headline-5 text-secondary-900"></i>

            </div>
            <div class="swiper-button-next !block !static !justify-start after:!content-none !w-auto !h-[32px] | md:!hidden">
                <i class="ri-arrow-right-line text-headline-5 text-secondary-900"></i>
            </div>
        </div>

        <div
            data-swiper-collection
            data-swiper
            data-swiper-settings='{"loop": false, "spaceBetween": 24, "grabCursor": true, "noSwipingSelector": "button", "a11y": false, "runCallbacksOnInit": true , "observer": true , "centeredSlides": false, "speed": 500, "threshold": "20","navigation": { "nextEl": ".collection-overview .swiper-button-next", "prevEl": ".collection-overview .swiper-button-prev" }, "slidesPerView": {{ ss.mobile_columns }}, "breakpoints": { "481": { "slidesPerView": 2 },"1024": { "slidesPerView": {{ ss.columns }}, "spaceBetween": 24, "loop": false }, "1440":{"slidesPerView": 5} }, {% if ss.autoplay %}"autoplay": { "delay": 2500, "disableOnInteraction": false },{% endif %} "draggable": true, "pagination": { "el": ".product-list .swiper-pagination", "clickable": true, "bulletClass": "rounded-full mx-0.5 inline-block border h-2 w-2 leading-3 {{ ss.title_color | replace: "text", "border" }}-{{ ss.title_color_shade }}", "bulletActiveClass": "{{ ss.title_color | replace: "text", "bg" }}-{{ ss.title_color_shade }}" }}'
            class="swiper">

            <div class="swiper-wrapper">
                {% assign rendered_product_handles = '' %}
                {% for collection in collections %}
                    {% for product in collection.products %}
                        {% unless rendered_product_handles contains product.handle and rendered_product_handles.size >= ss.product_limit%}
                            <div
                                collection-slide-{{ collection.id }}
                                data-collections=" {%-for collection in product.collections -%} {{ collection.id }} {%- if forloop.last -%} {%- else -%} , {%- endif -%} {%- endfor -%} "
                                class="swiper-slide |{% if ss.mobile_columns == 1 %}w-full{%- else -%}w-1/{{- ss.mobile_columns -}}{% endif %} | lg:mb-0 {% if ss.columns == 1 %}lg:w-full{%- else -%}lg:w-1/{{- ss.columns -}}{%- endif -%}">
                                <product-card
                                    :full-width="true"
                                    :metafield-object='{%- render "metafield-loop", name_space: "product_details", object: product -%}'
                                    :product-object="{{ product | json | escape }}"></product-card>
                            </div>

                            {% assign rendered_product_handles = rendered_product_handles | append: product.handle %}

                            {% if forloop.last and forloop.parentloop.last %} {%else%} 
                                {% assign rendered_product_handles = rendered_product_handles | append: ',' %}
                            {% endif %}
                        {% endunless %}

                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% render 'button' element: 'a', type: '', target: '', data: 'collection-button', hover_bg: ss.btn_hover_color, hover_bg_shade: ss.btn_hover_color_shade, hover_border_color: ss.btn_hover_border_color, hover_border_color_shade: "900", hover_text: ss.btn_hover_text_color, hover_text_shade: ss.btn_hover_text_color_shade, content: collecton.title, custom_class: 'max-w-full mt-10 mx-auto bg-secondary-900 text-tertiary-900 uppercase border | lg:max-w-fit', before_icon: '', after_icon: '' %}

    </section>

{% endif %}

<script>

    // On load filter the carousel with the first collection in the list
        // This is a bit of a duplicate of code
document.addEventListener("DOMContentLoaded", function(e) {
    if (document.querySelector("[data-collection-nav-link]") != null) {
        let initialCollection = document.querySelector("[data-collection-nav-link]");
        let collectionIdentifier = initialCollection.getAttribute("data-collection");

        Array.from(document.querySelectorAll("[data-swiper-collection] .swiper-slide")).forEach(function(slide) {

            // console.log("This belogns to collections : ", slide.dataset.collections)
            // console.log(typeof(slide.dataset.collections))
            if (slide.dataset.collections.includes(collectionIdentifier)) {
                slide.style.display = "block";
            }

            // if (slide.hasAttribute(`collection-slide-${collectionIdentifier}`)) {
            //    slide.style.display = "block"; else {
            else{
                slide.style.display = "none";
            }
        })

        // update collection button to current selection
        let collectionTitle = initialCollection.getAttribute("data-collection-title");
        let collectionUrl = initialCollection.getAttribute("data-collection-url");
        let collectionButton = document.querySelector('[data-collection-button]');
        collectionButton.setAttribute("href", collectionUrl);
        collectionButton.innerHTML = collectionTitle
        }
})



document.addEventListener("click", function(e) {
    if (e.target.hasAttribute("data-collection-nav-link")) {
        let collectionCarousel = document.querySelector("[data-swiper-collection]").swiper;
        e.preventDefault();
        let collectionIdentifier = e.target.getAttribute("data-collection");
        let siblings = Array.from(e.target.parentNode.children);
        siblings.forEach(function(sibling) {
            sibling.classList.remove("active");
        });
        e.target.classList.add("active");

       Array.from(document.querySelectorAll("[data-swiper-collection] .swiper-slide")).forEach(function(slide) {

            // console.log("This belogns to collections : ", slide.dataset.collections)
            // console.log(typeof(slide.dataset.collections))
            if (slide.dataset.collections.includes(collectionIdentifier)) {
                slide.style.display = "block";
            }

            // if (slide.hasAttribute(`collection-slide-${collectionIdentifier}`)) {
            //    slide.style.display = "block"; else {
            else{
                slide.style.display = "none";
            }
        })
        
        collectionCarousel.update()
        collectionCarousel.slideTo(0);
        // Trigger window resize so that registered listener would execute equalHeight() don't like this will change
        window.dispatchEvent(new Event("resize"));

        // update collection button to current selection
        let collectionTitle = e.target.getAttribute("data-collection-title");
        let collectionUrl = e.target.getAttribute("data-collection-url");
        let collectionButton = document.querySelector('[data-collection-button]');
        collectionButton.setAttribute("href", collectionUrl);
        collectionButton.innerHTML = collectionTitle

        
        
        return false;

    }
});
</script>


{% schema %}
    {
        "name": "Collection overview",
        "settings": [
            {
                "type": "collection_list",
                "id": "collections",
                "label": "Collection list",
                "limit": 8
            },
            {
                "type": "header",
                "content": "background color"
            },
            {
                "type": "select",
                "id": "bg_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Background color",
                "default": "bg-neutral"
            },
            {
                "type": "range",
                "id": "bg_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "select",
                "id": "text-align",
                "options": [
                    {
                        "value": "text-center justify-center",
                        "label": "Center"
                    }, {
                        "value": "text-left justify-start",
                        "label": "Left"
                    }, {
                        "value": "text-right justify-end",
                        "label": "Right"
                    }
                ],
                "label": "Text alignment",
                "default": "text-center justify-center"
            }, {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }, {
                "type": "range",
                "id": "product_limit",
                "min": 1,
                "max": 24,
                "step": 1,
                "label": "Number of products to show from collection",
                "default": 4
            }, {
                "type": "header",
                "content": "Fonts & Copy"
            }, {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            }, {
                "type": "select",
                "id": "title_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Title font",
                "default": "font-headline"
            }, {
                "type": "select",
                "id": "title_size",
                "options": [
                    {
                        "value": "text-headline-6 lg:text-headline-6-lg",
                        "label": "Heading 6"
                    },
                    {
                        "value": "text-headline-5 lg:text-headline-5-lg",
                        "label": "Heading 5"
                    },
                    {
                        "value": "text-headline-4 lg:text-headline-4-lg",
                        "label": "Heading 4"
                    },
                    {
                        "value": "text-headline-3 lg:text-headline-3-lg",
                        "label": "Heading 3"
                    }, {
                        "value": "text-headline-2 lg:text-headline-2-lg",
                        "label": "Heading 2"
                    }, {
                        "value": "text-headline-1 lg:text-headline-1-lg",
                        "label": "Heading 1"
                    }, {
                        "value": "text-display lg:text-display-lg",
                        "label": "Display"
                    }
                ],
                "label": "Title heading size",
                "default": "text-display lg:text-display-lg"
            }, {
                "type": "select",
                "id": "title_weight",
                "options": [
                    {
                        "value": "font-bold",
                        "label": "Bold"
                    },
                    {
                        "value": "font-semibold",
                        "label": "Semibold"
                    },
                    {
                        "value": "font-medium",
                        "label": "Medium"
                    },
                    {
                        "value": "font-normal",
                        "label": "Normal"
                    }, {
                        "value": "font-light",
                        "label": "Light"
                    }, {
                        "value": "font-extralight",
                        "label": "Extralight"
                    }, {
                        "value": "font-thin",
                        "label": "Thin"
                    }
                ],
                "label": "Title weight",
                "default": "font-normal"
            }, {
                "type": "select",
                "id": "title_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Title color",
                "default": "text-secondary"
            }, {
                "type": "range",
                "id": "title_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Title color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            }, {
                "type": "select",
                "id": "subtitle_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Subtitle font",
                "default": "font-body"
            }, {
                "type": "select",
                "id": "subtitle_size",
                "options": [
                    {
                        "value": "text-body-small lg:text-body-small-lg",
                        "label": "Body Small"
                    },
                    {
                        "value": "text-body-medium lg:text-body-medium-lg",
                        "label": "Body Medium"
                    },
                    {
                        "value": "text-body-large lg:text-body-large-lg",
                        "label": "Body Large"
                    },
                    {
                        "value": "text-headline-6 lg:text-headline-6-lg",
                        "label": "Heading 6"
                    }, {
                        "value": "text-headline-5 lg:text-headline-5-lg",
                        "label": "Heading 5"
                    }, {
                        "value": "text-headline-4 lg:text-headline-4-lg",
                        "label": "Heading 4"
                    }, {
                        "value": "text-headline-3 lg:text-headline-3-lg",
                        "label": "Heading 3"
                    }, {
                        "value": "text-headline-2 lg:text-headline-2-lg",
                        "label": "Heading 2"
                    }, {
                        "value": "text-headline-1 lg:text-headline-1-lg",
                        "label": "Heading 1"
                    }, {
                        "value": "text-display lg:text-display-lg",
                        "label": "Display"
                    }
                ],
                "label": "Subtitle heading size",
                "default": "text-body-large lg:text-body-large-lg"
            }, {
                "type": "select",
                "id": "subtitle_weight",
                "options": [
                    {
                        "value": "font-bold",
                        "label": "Bold"
                    },
                    {
                        "value": "font-semibold",
                        "label": "Semibold"
                    },
                    {
                        "value": "font-medium",
                        "label": "Medium"
                    },
                    {
                        "value": "font-normal",
                        "label": "Normal"
                    }, {
                        "value": "font-light",
                        "label": "Light"
                    }, {
                        "value": "font-extralight",
                        "label": "Extralight"
                    }, {
                        "value": "font-thin",
                        "label": "Thin"
                    }
                ],
                "label": "Title weight",
                "default": "font-normal"
            }, {
                "type": "select",
                "id": "subtitle_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Subtitle color"
            }, {
                "type": "range",
                "id": "subtitle_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Subtitle color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "header",
                "content": "button 1"
            }, {
                "type": "text",
                "id": "btn_text",
                "label": "Button text"
            }, {
                "type": "url",
                "id": "btn_url",
                "label": "Button URL"
            }, {
                "type": "select",
                "id": "btn_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button color",
                "default": "bg-secondary"
            }, {
                "type": "range",
                "id": "btn_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "select",
                "id": "btn_border_color",
                "options": [
                    {
                        "value": "border-primary",
                        "label": "Border Teal"
                    }, {
                        "value": "border-secondary",
                        "label": "Border Brown"
                    }, {
                        "value": "border-neutral",
                        "label": "Border White"
                    }, {
                        "value": "border-transparent",
                        "label": "None"
                    }
                ],
                "label": "Button border color",
                "default": "border-transparent"
            }, {
                "type": "range",
                "id": "btn_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button border color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "select",
                "id": "btn_text_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }, {
                        "value": "text-tertiary",
                        "label": "Tertiary"
                    }
                ],
                "label": "Button text color",
                "default": "text-tertiary"
            }, {
                "type": "range",
                "id": "btn_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "header",
                "content": "button 1 hover styles"
            }, {
                "type": "select",
                "id": "btn_hover_color",
                "options": [
                    {
                        "value": "hover:bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "hover:bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "hover:bg-neutral",
                        "label": "White"
                    },
                    {
                        "value": "hover:bg-transparent",
                        "label": "None"
                    }, {
                        "value": "hover:bg-tertiary",
                        "label": "Tertiary"
                    }
                ],
                "label": "Button hover color",
                "default": "hover:bg-tertiary"
            }, {
                "type": "range",
                "id": "btn_hover_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "select",
                "id": "btn_hover_border_color",
                "options": [
                    {
                        "value": "hover:border-primary",
                        "label": "Border Teal"
                    }, {
                        "value": "hover:border-secondary",
                        "label": "Border Brown"
                    }, {
                        "value": "hover:border-neutral",
                        "label": "Border White"
                    }, {
                        "value": "hover:border-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button hover border color",
                "default": "hover:border-secondary"
            }, {
                "type": "range",
                "id": "btn_hover_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "select",
                "id": "btn_hover_text_color",
                "options": [
                    {
                        "value": "hover:text-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Button hover text color",
                "default": "hover:text-secondary"
            }, {
                "type": "range",
                "id": "btn_hover_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 900
            }, {
                "type": "header",
                "content": "Carousel Settings"
            }, {
                "type": "range",
                "id": "columns",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Number of Columns (Desktop)",
                "default": 4
            }, {
                "type": "range",
                "id": "mobile_columns",
                "min": 1,
                "max": 3,
                "step": 0.2,
                "label": "Number of Columns (Mobile)",
                "default": 2
            }, {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Enable autoplay",
                "default": true
            }
        ],
        "presets": [
            {
                "name": "Collection overview"
            }
        ]

    }
{% endschema %}