{% assign ss = section.settings %}

<section
    class="form-builder | relative w-full flex flex-wrap justify-center | lg:items-center lg:flex-nowrap | {{ ss.bg_color }}-{{ss.bg_color_shade}}">

    <div
        class="form-wrapper | max-w-narrow-container mx-auto pt-6 pb-10 px-container-gutter w-full order-2 | lg:w-1/2 lg:py-10 lg:order-2 | {% if ss.image != blank %}{% if ss.image_align == 'order-1' %}lg:pr-container-gutter-lg{% else %}lg:pl-container-gutter-lg{% endif %}{% endif %}">

        {% if ss.title != blank %}
            <h1
                class="title | mb-6 | {{ ss.text-align }} {{ ss.title_typeface }} {{ ss.title_weight }} {{ ss.title_color }}-{{ ss.title_color_shade }} {{ ss.title_size }} lg:{{ ss.title_size }}">
                {{ ss.title }}
            </h1>
        {% endif %}

        {% if ss.subtitle != blank %}
            <div
                class="content | mb-6 | lg:mb-10 | {{ ss.text-align }} {{ ss.subtitle_typeface }} {{ ss.subtitle_color }}-{{ ss.subtitle_color_shade }} {{ ss.subtitle_size }} lg:{{ ss.subtitle_size }}">
                {{ ss.subtitle }}
            </div>
        {% endif %}

        {% form 'reset_customer_password' %}

            {% assign error = false %}

            {% for error in form.errors %}
                <p
                    class="text-error-500 text-body-large {{ ss.text-align }} my-2 | lg:text-body-large-lg">
                    {% if error == 'form' %}
                        {{ form.errors.messages[error] }}
                        {% assign error = true %}
                    {% else %}
                        {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                        {% assign error = true %}
                    {% endif %}
                </p>
            {% endfor %}

            {% comment %} <div class="field-wrap | w-full mb-4 {{ bs.field_col_width }}">
                <label class="text-body-small | lg:text-body-small-lg {% if error %}text-error-500{% else %}text-border-secondary-900{% endif %}" for="email">{{ ss.email_label }}<span class="text-error-500">*</span></label>
                <input class="w-full border rounded py-3 px-2 text-body-large focus:outline-none bg-transparent-500 placeholder:text-secondary-900 | lg:text-body-large-lg | {% if error %}border-error-500{% else %}border-secondary-900{% endif %}" type="email" id="email" name="customer[email]" placeholder="{{ ss.email_placeholder }}" required>
            </div> {% endcomment %}

            <div
                class="field-wrap | relative w-full mb-4 {{ bs.field_col_width }}">
                <label
                    class="text-body-small | lg:text-body-small-lg {% if error %}text-error-500{% else %}text-border-secondary-900{% endif %}"
                    for="password">{{ ss.password_label }}<span
                        class="text-error-500">*</span>
                </label>
                <input
                    class="password | w-full border rounded py-3 px-2 text-body-large focus:outline-none bg-transparent-500 placeholder:text-secondary-900 | lg:text-body-large-lg | {% if error %}border-error-500{% else %}border-secondary-900{% endif %}"
                    type="password"
                    id="password"
                    name="customer[password]"
                    placeholder="{{ ss.password_placeholder }}"
                    required>
                <label
                    class="absolute top-[38px] right-2 cursor-pointer"><input
                        class="hidden"
                        data-show-password
                        type="checkbox"><span
                        class="material-symbols-outlined text-body-medium | lg:text-body-medium-lg"
                        data-add-content="visibility_off"
                        data-remove-content="visibility">visibility</span>
                </label>
            </div>

            <div
                class="field-wrap | relative w-full mb-4 {{ bs.field_col_width }}">
                <label
                    class="text-body-small | lg:text-body-small-lg {% if error %}text-error-500{% else %}text-border-secondary-900{% endif %}"
                    for="password">{{ ss.password_label }}<span
                        class="text-error-500">*</span>
                </label>
                <input
                    class="password | w-full border rounded py-3 px-2 text-body-large focus:outline-none bg-transparent-500 placeholder:text-secondary-900 | lg:text-body-large-lg | {% if error %}border-error-500{% else %}border-secondary-900{% endif %}"
                    type="password"
                    id="password_confirmation"
                    name="customer[password_confirmation]"
                    placeholder="{{ ss.confirm_password_placeholder }}"
                    required>
                <label
                    class="absolute top-[38px] right-2 cursor-pointer"><input
                        class="hidden"
                        data-show-password
                        type="checkbox"><span
                        class="material-symbols-outlined text-body-medium | lg:text-body-medium-lg"
                        data-add-content="visibility_off"
                        data-remove-content="visibility">visibility</span>
                </label>
            </div>

            <div
                class="submit mt-6">
                {% render 'button' element: 'button', type: 'submit', border_width: 'border', bg_color: ss.btn_color, bg_color_shade: ss.btn_color_shade, border_color: ss.btn_border_color, border_color_shade: ss.btn_border_color_shade, text_color: ss.btn_text_color, text_color_shade: ss.btn_text_color_shade, hover_bg: ss.btn_hover_color, hover_bg_shade: ss.btn_hover_color_shade, hover_border: ss.btn_hover_border_color, hover_border_shade: ss.btn_hover_border_color_shade, hover_text: ss.btn_hover_text_color, hover_text_shade: ss.btn_hover_text_color_shade, content: ss.btn_text, custom_class: 'w-full', before_icon: '', after_icon: '' %}
            </div>

            <p
                class="text-secondary-900 text-body-large {{ ss.text-align }} my-2 | lg:text-body-large-lg">or</p>

            <a
                class="text-secondary-900 text-body-medium block {{ ss.text-align }} lg:text-body-medium-lg underline"
                href="/account/register">{{ ss.register }}</a>

        {% endform %}


    </div>

    {% if ss.image != blank %}
        <div
            class="column | {{ ss.image_align_mob }} w-full | lg:w-1/2 lg:{{ ss.image_align }} | {{ ss.image_bleed }} {% if ss.image_bleed == 'space' %} pt-10 px-container-gutter lg:py-20 {% if ss.image_align == 'order-1' %}lg:pl-container-gutter-lg{% else %}lg:pr-container-gutter-lg{% endif %}{% endif %}">

            {% render 'responsive-image' with image: ss.image, mobile_image: ss.image_mob, image_class: 'image mx-auto', wrapper_class: 'image-wrapper w-full' %}

        </div>
    {% endif %}

</section>


<style>
    /* Hide recharge login link */
    div#rc_login {
        display: none !important;
    }
</style>


{% schema %}
    {
        "name": "Customer Reset Password",
        "settings": [
            {
                "type": "header",
                "content": "background color (if media is not used)"
            },
            {
                "type": "select",
                "id": "bg_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Background color"
            },
            {
                "type": "range",
                "id": "bg_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            },
            {
                "type": "header",
                "content": "Column Background media"
            }, {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "Recommended size: 1440x800px"
            }, {
                "type": "image_picker",
                "id": "image_mob",
                "label": "Image (mobile)",
                "info": "Recommended size: 375x460"
            }, {
                "type": "select",
                "id": "image_align_mob",
                "options": [
                    {
                        "value": "order-1",
                        "label": "Top"
                    }, {
                        "value": "order-2",
                        "label": "Bottom"
                    }
                ],
                "label": "Image alignment mobile"
            }, {
                "type": "select",
                "id": "image_align",
                "options": [
                    {
                        "value": "order-1",
                        "label": "Left"
                    }, {
                        "value": "order-2",
                        "label": "Right"
                    }
                ],
                "label": "Image alignment"
            }, {
                "type": "select",
                "id": "image_bleed",
                "options": [
                    {
                        "value": "space",
                        "label": "Space around image"
                    }, {
                        "value": "no-space",
                        "label": "Image fill space"
                    }
                ],
                "label": "Image bleed"
            }, {
                "type": "select",
                "id": "text-align",
                "options": [
                    {
                        "value": "text-center justify-center",
                        "label": "Center"
                    }, {
                        "value": "text-left justify-center lg:justify-start",
                        "label": "Left"
                    }, {
                        "value": "text-right justify-center lg:justify-end",
                        "label": "Right"
                    }
                ],
                "label": "Text alignment"
            }, {
                "type": "header",
                "content": "Fonts & Copy"
            }, {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            }, {
                "type": "select",
                "id": "title_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Title font"
            }, {
                "type": "select",
                "id": "title_size",
                "options": [
                    {
                        "value": "text-headline-6 lg:text-headline-6-lg",
                        "label": "Heading 6"
                    },
                    {
                        "value": "text-headline-5 lg:text-headline-5-lg",
                        "label": "Heading 5"
                    },
                    {
                        "value": "text-headline-4 lg:text-headline-4-lg",
                        "label": "Heading 4"
                    },
                    {
                        "value": "text-headline-3 lg:text-headline-3-lg",
                        "label": "Heading 3"
                    }, {
                        "value": "text-headline-2 lg:text-headline-2-lg",
                        "label": "Heading 2"
                    }, {
                        "value": "text-headline-1 lg:text-headline-1-lg",
                        "label": "Heading 1"
                    }, {
                        "value": "text-display lg:text-display-lg",
                        "label": "Display"
                    }
                ],
                "label": "Title heading size"
            }, {
                "type": "select",
                "id": "title_weight",

                "options": [
                    {
                        "value": "font-bold",
                        "label": "Bold"
                    },
                    {
                        "value": "font-semibold",
                        "label": "Semibold"
                    },
                    {
                        "value": "font-medium",
                        "label": "Medium"
                    },
                    {
                        "value": "font-normal",
                        "label": "Normal"
                    }, {
                        "value": "font-light",
                        "label": "Light"
                    }, {
                        "value": "font-extralight",
                        "label": "Extralight"
                    }, {
                        "value": "font-thin",
                        "label": "Thin"
                    }
                ],
                "label": "Title weight"
            }, {
                "type": "select",
                "id": "title_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Title color"
            }, {
                "type": "range",
                "id": "title_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Title color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            }, {
                "type": "select",
                "id": "subtitle_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Subtitle font"
            }, {
                "type": "select",
                "id": "subtitle_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Subtitle color"
            }, {
                "type": "range",
                "id": "subtitle_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Subtitle color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "text",
                "id": "email_label",
                "label": "Email Label",
                "default": "Email Address"
            }, {
                "type": "text",
                "id": "email_placeholder",
                "label": "Email Placeholder",
                "default": "Email Address"
            }, {
                "type": "text",
                "id": "password_label",
                "label": "Password Label",
                "default": "Password"
            }, {
                "type": "text",
                "id": "password_placeholder",
                "label": "Password Placeholder",
                "default": "Password"
            }, {
                "type": "text",
                "id": "confirm_password_placeholder",
                "label": "Confirm Password Placeholder",
                "default": "Confirm Password"
            }, {
                "type": "text",
                "id": "forgotten_password",
                "label": "Forgotten password link",
                "default": "Forgot your password?"
            }, {
                "type": "text",
                "id": "register",
                "label": "Register link",
                "default": "CREATE AN ACCOUNT"
            }, {
                "type": "header",
                "content": "button 1"
            }, {
                "type": "text",
                "id": "btn_text",
                "label": "Button text"
            }, {
                "type": "select",
                "id": "btn_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent",
                        "label": "None"
                    }
                ],
                "label": "Button color"
            }, {
                "type": "range",
                "id": "btn_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_border_color",
                "options": [
                    {
                        "value": "border-primary",
                        "label": "Teal"
                    }, {
                        "value": "border-secondary",
                        "label": "Brown"
                    }, {
                        "value": "border-neutral",
                        "label": "White"
                    }, {
                        "value": "border-transparent",
                        "label": "None"
                    }
                ],
                "label": "Button border color"
            }, {
                "type": "range",
                "id": "btn_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button border color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_text_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Button text color"
            }, {
                "type": "range",
                "id": "btn_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_hover_color",
                "options": [
                    {
                        "value": "hover:bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:bg-neutral",
                        "label": "White"
                    }, {
                        "value": "hover:bg-transparent",
                        "label": "None"
                    }
                ],
                "label": "Button hover color"
            }, {
                "type": "range",
                "id": "btn_hover_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_hover_border_color",
                "options": [
                    {
                        "value": "hover:border-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:border-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:border-neutral",
                        "label": "White"
                    }, {
                        "value": "hover:border-transparent",
                        "label": "None"
                    }
                ],
                "label": "Button hover border color"
            }, {
                "type": "range",
                "id": "btn_hover_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover Border color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_hover_text_color",
                "options": [
                    {
                        "value": "hover:text-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Button hover text color"
            }, {
                "type": "range",
                "id": "btn_hover_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }
        ]
    }
{% endschema %}