{% assign ss = section.settings %}
<section
    data-vue-app
    data-toggle-wrapper="overview"
    class="overview w-full px-container-gutter block pb-4 bg-tertiary-900 | lg:pb-20 lg:px-container-gutter-lg"
    data-add-class="block"
    data-remove-class="hidden">
    <h1 class="font-headline text-headline-1 mb-6 inline-block | lg:text-headline-1-lg">{{ ss.intro }}
        {% if ss.show_name %}
            {{ customer.name }}{% endif %}
    </h1>
    <a class="text-secondary-900 underline uppercase ml-4 whitespace-nowrap" href="/account/logout/">{{ ss.logout }}</a>

    <div class="flex justify-between w-full flex-wrap mb-4 lg:mb-0 lg:flex-nowrap">
        <h2 class="font-headline text-headline-4 w-full mb-6 | lg:text-headline-4-lg">{{ ss.subtitle }}</h2>
        <a
            class="text-secondary-900 underline uppercase whitespace-nowrap"
            href="/account#order-history"
            {% if template.name == 'account' %}data-toggle-visibility="order-history"{% endif %}>{{ ss.all_orders }}</a>
    </div>

    <div
        {% if ss.swiper %}
        data-swiper
        data-swiper-settings='{"loop": {{ss.loop}}, "spaceBetween": 24, "centeredSlides": false, "threshold": "20", "speed": 500, "slidesPerView": {{ ss.mobile_columns }}, "breakpoints": { "1024": { "slidesPerView": {{ ss.columns }}, "spaceBetween": 24, "pagination": false, "loop": false }}, {% if autoplay %}"autoplay": { "delay": 2500, "disableOnInteraction": false },{% endif %} "draggable": true, "pagination": { "el": ".overview .swiper-pagination", "clickable": true, "bulletClass": "rounded-full mx-0.5 inline-block border h-2 w-2 leading-3 {{ ss.title_color | replace: "text", "border" }}-{{ ss.title_color_shade }}", "bulletActiveClass": "{{ ss.title_color | replace: "text", "bg" }}-{{ ss.title_color_shade }}" }}'
        {% endif %}
        class="{% if ss.swiper %}swiper max-w-[85vw]{% endif %}">
        <div class="{% if ss.swiper %}swiper-wrapper {% else %}flex flex-wrap -mx-gutter lg:-mx-gutter-lg{% endif %}">
            {% assign count = 0 %}
            {% for order in customer.orders %}
                {% for line_item in order.line_items %}
                    <div class="{% if ss.swiper %}swiper-slide{% else %}p-gutter lg:p-gutter-lg{% endif %} {% if ss.mobile_columns == 1 %}w-full{%- else -%}w-1/{{- ss.mobile_columns -}}{% endif %} | lg:mb-0 {% if ss.columns == 1 %}lg:w-full{%- else -%}lg:w-1/{{- ss.columns -}}{%- endif -%}">
                        <product-card
                            :full-width="true"
                            :metafield-object='{%- render "metafield-loop",  name_space: "product_details", object: line_item.product -%}'
                            :product-object="{{ line_item.product | json | escape }}"
                            product-url="{{ line_item.product.url }}"
                            button-background="bg-yellow-900"
                            button-color="text-secondary-900"
                            button-hover-background="hover:bg-secondary-900"
                            buy-now="Buy again"></product-card>
                        {% assign count = count | plus: 1 %}
                    </div>
                    {% if count >= ss.product_count %}
                        {% break %}{% endif %}
                {% endfor %}
                {% if count >= ss.product_count %}
                    {% break %}{% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="flex justify-between w-full flex-wrap mt-6 lg:mb-0 lg:flex-nowrap">
        <h2 class="font-headline text-headline-4 font-semibold w-full mb-4 | lg:mb-0 lg:text-headline-4-lg">{{ ss.address_subtitle }}</h2>
        <a class="text-secondary-900 underline uppercase whitespace-nowrap" href="/account/addresses">{{ ss.all_addresses }}</a>
    </div>

    <div class="flex flex-wrap -mx-gutter lg:flex-nowrap lg:-mx-gutter-lg">
        {% for address in customer.addresses limit: 3 %}
            <div class="m-gutter lg:m-gutter-lg p-6  w-full shadow-md shadow-black/30 border rounded-2xl border-secondary-900 {% if address == customer.default_address %}bg-secondary-900{% else %}border-secondary-0{% endif %} lg:w-1/3">
                <p class="uppercase font-semibold {% if address == customer.default_address %}text-neutral-0{% else %}text-secondary-900{% endif %} text-body-large mb-6 lg:text-body-large-lg">{{ address.first_name }} {{ address.last_name }}</p>
                <div class="{% if address == customer.default_address %}text-neutral-0{% else %}text-secondary-900{% endif %} text-body-small mb-4 lg:text-body-small-lg">
                    <p class="mb-1">{{ address.address1 }}</p>
                    <p class="mb-1">{{ address.address2 }}</p>
                    <p class="mb-1">{{ address.city }}, {{ address.country }}</p>
                    <p class="mb-1">{{ address.zip }}</p>
                    <p class="mb-1">{{ address.phone }}</p>
                </div>
                <a class="{% if address == customer.default_address %}text-neutral-0{% else %}text-secondary-900{% endif %} inline-flex items-center font-semibold mr-4" href="/account/addresses#{{ address.id }}">
                    <span class="material-symbols-outlined mr-1.5 text-body-large lg:text-body-large-lg">settings</span>
                    <span class="underline">{{ settings.manage }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
    {
        "name": "Account Overview",
        "settings": [
            {
                "type": "text",
                "id": "intro",
                "label": "Introduction content is then followed by customer name / Title"
            },
            {
                "type": "checkbox",
                "id": "show_name",
                "label": "Show customer name"
            },
            {
                "type": "text",
                "id": "logout",
                "label": "Logout link text"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle (orders)"
            }, {
                "type": "text",
                "id": "all_orders",
                "label": "Show all order link"
            }, {
                "type": "number",
                "id": "product_count",
                "label": "Number of recent products to show",
                "info": "loops over orders and pulls out the products"
            }, {
                "type": "header",
                "content": "Carousel Settings"
            }, {
                "type": "checkbox",
                "id": "swiper",
                "label": "Enable Carousel",
                "info": "If disabled this will enable a grid layout"
            }, {
                "type": "range",
                "id": "columns",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Number of Columns (Desktop)",
                "default": 4
            }, {
                "type": "range",
                "id": "mobile_columns",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "Number of Columns (Mobile)",
                "default": 1
            }, {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Enable autoplay",
                "default": true
            }, {
                "type": "checkbox",
                "id": "loop",
                "label": "loop slides",
                "default": false
            }, {
                "type": "text",
                "id": "address_subtitle",
                "label": "Subtitle (Addresses)"
            }, {
                "type": "text",
                "id": "all_addresses",
                "label": "Show all addresses link"
            }
        ],
        "presets": [
            {
                "name": "Account Overview"
            }
        ]

    }
{% endschema %}