{% assign ss = section.settings %}

<section
    {% if ss.id != empty %}
    id="{{ss.id}}"
    {% else %}
    id="education-spotlight-carousel"
    {% endif %}
    class="education-spotlight-carousel | items-center flex flex-col relative w-full py-16 | lg:py-20 | text-center justify-center bg-secondary-900">

    <div class="w-full mb-6 px-container-gutter relative | lg:mb-10  lg:px-container-gutter-lg">

        {% if ss.title_image != blank %}

            {% render 'responsive-image' with image: ss.title_image, image_class: 'image object-cover w-full mx-auto max-w-[400px]', wrapper_class: 'image-wrapper mb-10' %}

        {% else ss.title != blank %}

            <h2 class="title | mb-10 |  font-headline font-normal text-tertiary-900 text-display lg:text-display-lg">
                {{ ss.title | newline_to_br }}
            </h2>

        {% endif %}

        {% if ss.subtitle != blank %}
            <div class="content | font-body text-tertiary-500 text-body-large | lg:text-body-large-lg lg:mx-auto lg:max-w-[80%]">
                {{ ss.subtitle | newline_to_br }}
            </div>
        {% endif %}

        <div class="button-wrapper | relative flex gap-6 justify-end mt-6 | lg:absolute lg:bottom-0 lg:right-container-gutter-lg lg:mt-0">

            <div class="swiper-button-prev !left-0 !h-6 !top-auto !mt-0 !relative after:!content-none | ">

                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="remix-icons/line/system/arrow-left-line" clip-path="url(#clip0_1174_311)">
                        <g id="Group">
                            <path
                                id="Vector"
                                d="M7.828 13H20V11H7.828L13.192 5.63601L11.778 4.22202L4 12L11.778 19.778L13.192 18.364L7.828 13Z"
                                fill="#F6F1E7" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_1174_311">
                            <rect
                                width="24"
                                height="24"
                                fill="white"
                                transform="matrix(1 0 0 -1 0 24)" />
                        </clipPath>
                    </defs>
                </svg>

            </div>

            <div class="swiper-button-next !right-0 !h-6 !top-auto !mt-0 !relative after:!content-none |">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="remix-icons/line/system/arrow-right-line" clip-path="url(#clip0_1174_316)">
                        <g id="Group">
                            <path
                                id="Vector"
                                d="M16.172 13L10.808 18.364L12.222 19.778L20 12L12.222 4.22202L10.808 5.63601L16.172 11H4V13H16.172Z"
                                fill="#F6F1E7" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_1174_316">
                            <rect
                                width="24"
                                height="24"
                                fill="white"
                                transform="matrix(1 0 0 -1 0 24)" />
                        </clipPath>
                    </defs>
                </svg>

            </div>

        </div>

    </div>

    <div data-education-spotlight-swiper
        data-slide-count="{{ section.blocks.size }}"
        class="w-full swiper md:!px-4 |">
        {% comment %}
        data-swiper
            data-swiper-settings='{"spaceBetween": 24, "centeredSlides": true, "threshold": "20", "speed": 400, "slidesPerView": "auto", "navigation": { "nextEl": ".spotlight-carousel .swiper-button-next", "prevEl": ".spotlight-carousel .swiper-button-prev" }, "breakpoints": { "1024": { "slidesPerView": "auto", "spaceBetween": 24 }}, "autoplay": false, "draggable": true}'
        {% endcomment %}

        <div class="swiper-wrapper">

            {% for block in section.blocks %}

                {% assign bs = block.settings %}

                <div data-spotlight-card class="swiper-slide !w-[calc(100%_-_2rem)] max-w-[600px] overflow-hidden relative | lg:!w-[36.67%] lg:max-w-[33vw] lg:min-w-[500px]">

                    <div
                        data-spotlight-card-overlay
                        class="card-overlay | absolute left-0 bottom-0 translate-y-0 opacity-25 rounded-lg bg-black w-full h-full transition-all duration-500 z-[1] pointer-events-none"
                        data-remove-class="translate-y-[100%]"
                        data-add-class="translate-y-0"></div>

                    {% if bs.image %}

                        {% render 'responsive-image' with image: bs.image, image_class: 'image h-full w-full object-cover rounded-2xl min-h-[420px] lg:min-h-full lg:absolute lg:top-0 lg:left-0', wrapper_class: 'image-wrapper relative w-full lg:pt-[100%]' %}

                    {% endif %}

                    <div
                        data-spotlight-card-content-wrapper
                        class="slide-wrapper | absolute top-1/2 -translate-y-1/2 left-0 right-0 px-4 w-full text-left overflow-hidden z-[2] | lg:px-6 | transition-all duration-500"
                        data-add-class="top-6"
                        data-remove-class="top-[calc(100%_-_5rem)]">

                        <div class="title | mb-6 font-headline font-normal text-headline-2 lg:mb-10 lg:text-headline-2-lg text-tertiary-500">{{ bs.title }}</div>
                        <div
                            data-spotlight-card-content
                            class="content accordion-content-wrapper expanded | text-body-large font-body text-tertiary-900 transition-all duration-500 | lg:text-body-large-lg"
                            data-add-class="expanded"
                            data-remove-class="inactive">

                            <div class="title-spacer | overflow-hidden">
                                {{ bs.content }}
                                {% if bs.vimeo_id != blank %}
                                    <button
                                        class="nav-link | mt-6 w-fit rounded-lg bg-secondary-900 text-tertiary-900 uppercase flex items-center justify-center px-4 py-3 z-[11] text-body-medium-lg transition-all font-headline | hover:bg-tertiary-900 hover:text-secondary-900"
                                        data-video-overlay-trigger
                                        data-video-id="{{ bs.vimeo_id }}">
                                        {{ bs.cta_text }}
                                    </button>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    {% comment %}
                         <div data-spotlight-card-toggle class="trigger-button active | absolute bottom-6 right-6 z-[3] cursor-pointer">
                        <svg
                            data-spotlight-card-toggle-plus
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class=""
                            data-add-class="hidden"
                            data-remove-class="active">
                            <rect
                                x="0.5"
                                y="0.5"
                                width="31"
                                height="31"
                                rx="15.5"
                                fill="#F6F1E7" />
                            <g clip-path="url(#clip0_1174_255)">
                                <path d="M15 15V9H17V15H23V17H17V23H15V17H9V15H15Z" fill="#30261A" />
                            </g>

                            <defs>
                                <clipPath id="clip0_1174_255">
                                    <rect
                                        width="24"
                                        height="24"
                                        fill="white"
                                        transform="translate(4 4)" />
                                </clipPath>
                            </defs>
                        </svg>


                        <svg
                            data-spotlight-card-toggle-minus
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="hidden"
                            data-add-class="active"
                            data-remove-class="hidden">

                            <rect
                                x="0.5"
                                y="0.5"
                                width="31"
                                height="31"
                                rx="15.5"
                                fill="#F6F1E7" />
                            <g clip-path="url(#clip0_1174_243)">
                                <path d="M9 15H23V17H9V15Z" fill="#30261A" />
                            </g>

                            <defs>
                                <clipPath id="clip0_1174_243">
                                    <rect
                                        width="24"
                                        height="24"
                                        fill="white"
                                        transform="translate(4 4)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    {% endcomment %}

                </div>

            {% endfor %}
        </div>

    </div>

    <div class="w-full mx-auto mt-10 shrink-0 lg:pr-gutter order-2">
        <div class="swiper h-full" data-education-spotlight-thumb-swiper>
            <div class="swiper-wrapper | px-4 flex justify-center gap-y-4">
                {% for block in section.blocks %}
                    {% assign bs = block.settings %}
                    <div class="swiper-slide cursor-pointer max-w-[86px] max-h-[86px]">
                        {% render 'responsive-image' with image: bs.image, wrapper_class: "img-wrap w-full pointer-events-none ", image_class: "primary-img object-cover w-full h-full rounded-lg max-w-[86px] max-h-[86px]" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</section>


<script>/* Array.from(document.querySelectorAll("[data-spotlight-card]")).forEach(function(element) {
    element.target.querySelector("[data-spotlight-card-toggle]").addEventListener("click", function(e) {
    e.preventDefault();
    element.querySelector("[data-spotlight-card-overlay]").toggleAnimation();
    
    })
    }) */
</script>{% schema %}
{
    "name": "Education Carousel",
    "settings": [
        {
            "type": "text",
            "id": "id",
            "label": "Unique ID",
            "info": "Used in sub nav"
        }, {
            "type": "image_picker",
            "id": "title_image",
            "label": "Title image",
            "info": "Recommended size: 400x500px"
        }, {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        }, {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        }
    ],
    "blocks": [
        {
            "type": "Slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "header",
                    "content": "background media"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "info": "Try to limit copy to 400 characters"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Recommended size: 380x440px"
                }, {
                    "type": "text",
                    "id": "cta_text",
                    "label": "Button text"

                }, {
                    "type": "text",
                    "id": "vimeo_id",
                    "label": "Vimeo ID"

                }

            ]
        }

    ],
    "presets": [
        {
            "name": "Education spotlight carousel"
        }
    ]

}
{% endschema %}