{% assign ss = section.settings %}

<div class="holding-page-layout | min-h-screen flex items-start lg:items-stretch {{ ss.bg_color }}-{{ss.bg_color_shade}} {{ ss.bg_color | replace: 'bg', 'fill' }}-{{ss.bg_color_shade}}">
		
	<div class="flex flex-wrap lg:items-center">
		
		<div class="column | py-10 w-full px-container-gutter order-2 | lg:py-20 lg:order-1 lg:w-1/2 lg:px-container-gutter-lg | {{ ss.text-align }}">
					
            {% if ss.logo != blank %}
            <div class="logo-wrap flex {{ss.logo_pos}}">
                {% render 'responsive-image' with image: ss.logo %}
            </div>
            {% endif %}

            {% if ss.title != blank %}
                <h1 class="title | !mb-10 | lg:mb-20 {{ ss.title_typeface }} {{ ss.title_weight }} {{ ss.title_color }}-{{ ss.title_color_shade }} {{ ss.title_size }}">
                    {{ ss.title }}
                </h1> 
            {% endif %}

            <div data-toggle-form class="newsletter-wrap block max-w-[414px] mx-auto" data-add-class="hidden" data-remove-class="block">

                {% if ss.subtitle_newsletter != blank %}
                    <div class="content | !mb-10 | {{ ss.subtitle_typeface }} {{ ss.subtitle_size }} {{ ss.subtitle_weight }} {{ ss.subtitle_color }}-{{ ss.subtitle_color_shade }}">
                        {{ ss.subtitle_newsletter }}
                    </div>
                {% endif %}

                <div class="klaviyo-form-XrCfM2"></div>

            </div>

            <!-- Shopify password login logic -->
            {% assign form_has_errors = false %}

            <div data-toggle-form class="form-wrap store-password-form hidden max-w-[414px] mx-auto" data-add-class="hidden" data-remove-class="block">

                {% if ss.subtitle_form != blank %}
                    <div class="content | mb-10 | {{ ss.subtitle_typeface }} {{ ss.subtitle_size }} {{ ss.subtitle_weight }} {{ ss.subtitle_color }}-{{ ss.subtitle_color_shade }}">
                        {{ ss.subtitle_form }}
                    </div>
                {% endif %}

                {% form 'storefront_password', class: 'form-single-field' %}

                    {%- assign formId = 'PasswordLoginForm' -%}

                    <div class="text-left">
                        <label class="font-body mb-1 | lg:text-body-medium-lg">Password <span class="text-error-500">*</span></label>
                        
                        <input type="password" name="password"
                        id="Password"
                        class="w-full border py-3 px-2 mb-2 text-body-medium placeholder:text-neutral-900/40 focus:outline-none bg-transparent-500 | lg:text-body-small-lg {% if form.errors %}border-error-900{% else %}border-neutral-900{% endif %}"
                        placeholder="Password*"
                        data-login-field
                        autocomplete="off"
                        aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
                        {% if form.errors %}
                        data-error="password"
                        aria-invalid="true"
                        {%- endif -%}
                        >

                        <button type="submit" name="commit" class="btn | w-full px-button-x uppercase rounded-none font-headline text-center text-button flex justify-center items-center bg-secondary-500 border-secondary-500 hover:bg-transparent-500 border text-neutral-500 hover:text-secondary-500 transition-all duration-animation-speed">
                            Submit
                        </button>
                    </div>

                    {%- if form.errors -%}
                        {% assign form_has_errors = true %}
                        
                        <span id="{{ formId }}-password-error" class="font-body input-error-message">
                            {{ form.errors.messages['form'] }}
                        </span>
                    {%- endif -%}

                {% endform %}							

            </div>

            <a href="#" data-toggle-button class="font-body underline mt-10 lg:translate-x-[-50%] lg:left-1/4 lg:bottom-10 lg:absolute | block" data-add-class="hidden" data-remove-class="block">{{ ss.show_password }}</a>
            
            <a href="#" data-toggle-button class="font-body underline mt-10 lg:translate-x-[-50%] lg:left-1/4 lg:bottom-10 lg:absolute | hidden" data-add-class="block" data-remove-class="hidden">{{ ss.show_form }}</a>

		</div>

		<div class="column | w-full h-[100vw] order-1 | lg:h-full lg:w-1/2 lg:order-2">
                
            {% if ss.image != blank %}

                {% render 'responsive-image' with image: ss.image, mobile_image: ss.image_mob, image_class: 'image w-full h-full object-cover', wrapper_class: 'image-wrapper w-full h-full' %}

            {% endif %}

        </div>

	</div>

</div>


<script>

    window.addEventListener('DOMContentLoaded',function () {

        function toggleAnimation(element) {
            // toggle remove 
            if (element.hasAttribute('data-remove-class')) {
                let removeClasses = element.dataset.removeClass
                let remClsArr = removeClasses.split(' ');
                remClsArr.map(cl => element.classList.toggle(cl));
            }

            // toggle Active
            if (element.hasAttribute('data-add-class')) {
                let activeClasses = element.dataset.addClass
                let actClsArr = activeClasses.split(' ');
                actClsArr.map(cl => element.classList.toggle(cl));
            }
            
        }

        // Sends event to cart component to trigger open and close 
        const toggleButton = document.querySelectorAll('[data-toggle-button]');
        const toggleForm = document.querySelectorAll('[data-toggle-form]');

        Array.from(toggleButton).forEach((item) => item.addEventListener('click', (e) => {
            Array.from(toggleForm).forEach((form)=> {
                toggleAnimation(form);
            });
            Array.from(toggleButton).forEach((button)=> {
                toggleAnimation(button);
            });
        }));
    });

</script>

{% schema %}
  {
    "name": "Holding Page",

	"settings": [
        {
            "type": "header",
            "content": "background color"
        },
        {
            "type": "select",
            "id": "bg_color",
            "options": [
                {
                    "value": "bg-primary",
                    "label": "Teal"
                }, {
                    "value": "bg-secondary",
                    "label": "Brown"
                }, {
                    "value": "bg-neutral",
                    "label": "White"
                }, {
                    "value": "",
                    "label": "None"
                }
            ],
            "label": "Background color"
        },
        {
            "type": "range",
            "id": "bg_color_shade",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "Background color shade",
            "info": "Number range 0 - 900. Lighest to darkest",
            "default": 500
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended size: 1440x800px"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image (mobile)",
            "info": "Recommended size: 375x460"
        },
		{
			"type":"image_picker",
			"id":"logo",
			"label":"Logo",
			"info":"Recommended size is 300W x 300H (in px)"
		},
		{
			"type": "select",
			"id": "logo_pos",
			"label":"Logo Position",
			"info":	"Choose the position of the logo.",
			"options": [
				{ "value": "justify-start", "label": "Left" },
				{ "value": "justify-center", "label": "Center" },
				{ "value": "justify-end", "label": "Right" }
			],
			"default": "justify-center"
		},	
		{
            "type": "select",
            "id": "text-align",
            "options": [
                {
                    "value": "text-center justify-center",
                    "label": "Center"
                }, {
                    "value": "text-left justify-start",
                    "label": "Left"
                }, {
                    "value": "text-right justify-end",
                    "label": "Right"
                }
            ],
            "label": "Text alignment"
        }, 
        {
            "type": "header",
            "content": "Fonts & Copy"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "title_typeface",
            "options": [
                { "value": "font-headline", "label": "Headline"},
                { "value": "font-body", "label": "Body"}
            ],
            "label": "Title font"
        },
        {
            "type": "select",
            "id": "title_size",
            "options": [
                { "value": "text-headline-6 lg:text-headline-6-lg", "label": "Heading 6"},
                { "value": "text-headline-5 lg:text-headline-5-lg", "label": "Heading 5"},
                { "value": "text-headline-4 lg:text-headline-4-lg", "label": "Heading 4"},
                { "value": "text-headline-3 lg:text-headline-3-lg", "label": "Heading 3"},
                { "value": "text-headline-2 lg:text-headline-2-lg", "label": "Heading 2"},
                { "value": "text-headline-1 lg:text-headline-1-lg", "label": "Heading 1"},
                { "value": "text-display lg:text-display-lg", "label": "Display"}
            ],
            "label": "Title heading size"
        },
        {
            "type": "select",
            "id": "title_weight",
            "options": [
                { "value": "font-bold", "label": "Bold"},
                { "value": "font-semibold", "label": "Semibold"},
                { "value": "font-medium", "label": "Medium"},
                { "value": "font-normal", "label": "Normal"},
                { "value": "font-light", "label": "Light"},
                { "value": "font-extralight", "label": "Extralight"},
                { "value": "font-thin", "label": "Thin"}
            ],
            "label": "Title weight"
        },
        {
            "type": "select",
            "id": "title_color",
            "options": [
                { "value": "text-primary", "label": "Teal"},
                { "value": "text-secondary", "label": "Brown"},
                { "value": "text-neutral", "label": "White"}     
            ],
            "label": "Title color"
        },
        {
            "type": "range",
            "id": "title_color_shade",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "Title color shade",
            "info": "Number range 0 - 900. Lighest to darkest",
            "default": 500
        },
        {
            "type": "richtext",
            "id": "subtitle_newsletter",
            "label": "Subtitle newsletter content"
        },
        {
            "type": "richtext",
            "id": "subtitle_form",
            "label": "Subtitle password form content"
        },
        {
            "type": "select",
            "id": "subtitle_typeface",
            "options": [
                { "value": "font-headline", "label": "Headline"},
                { "value": "font-body", "label": "Body"}
            ],
            "label": "Subtitle font"
        },
        {
            "type": "select",
            "id": "subtitle_size",
            "options": [
                { "value": "text-body-small lg:text-body-small-lg", "label": "Body Small" },
                { "value": "text-body-medium lg:text-body-medium-lg", "label": "Body Medium" },
                { "value": "text-body-large lg:text-body-large-lg", "label": "Body Large" },
                { "value": "text-headline-6 lg:text-headline-6-lg", "label": "Heading 6" },
                { "value": "text-headline-5 lg:text-headline-5-lg", "label": "Heading 5" },
                { "value": "text-headline-4 lg:text-headline-4-lg", "label": "Heading 4" },
                { "value": "text-headline-3 lg:text-headline-3-lg", "label": "Heading 3" },
                { "value": "text-headline-2 lg:text-headline-2-lg", "label": "Heading 2"},
                { "value": "text-headline-1 lg:text-headline-1-lg", "label": "Heading 1"},
                { "value": "text-display lg:text-display-lg", "label": "Display"}
            ],
            "label": "Subtitle heading size"
        },
        {
            "type": "select",
            "id": "subtitle_weight",
            "options": [
                {
                    "value": "font-bold",
                    "label": "Bold"
                },
                {
                    "value": "font-semibold",
                    "label": "Semibold"
                },
                {
                    "value": "font-medium",
                    "label": "Medium"
                },
                {
                    "value": "font-normal",
                    "label": "Normal"
                },
                {
                    "value": "font-light",
                    "label": "Light"
                },
                {
                    "value": "font-extralight",
                    "label": "Extralight"
                },
                {
                    "value": "font-thin",
                    "label": "Thin"
                }
            ],
            "label": "Title weight"
        },
        {
            "type": "select",
            "id": "subtitle_color",
            "options": [
                {
                    "value": "text-primary",
                    "label": "Teal"
                },
                {
                    "value": "text-secondary",
                    "label": "Brown"
                },
                {
                    "value": "text-neutral",
                    "label": "White"
                }
            ],
            "label": "Subtitle color"
        },
        {
            "type": "range",
            "id": "subtitle_color_shade",
            "min": 0,
            "max": 900,
            "step": 100,
            "label": "Subtitle color shade",
            "info": "Number range 0 - 900. Lighest to darkest",
            "default": 500
        },
        {
            "type": "text",
            "id": "show_password",
            "label": "Toggle password label"
        },
        {
            "type": "text",
            "id": "show_form",
            "label": "Toggle form label"
        }					

	]

  }
{% endschema %}	