<h1 class="tw-text-3xl">Get ready for the upcoming chilly winter with the new 
{%if collections['winter-drip'].title.contains('collection')%}
 "{{ collections['winter-drip'].title }} "
 {% else %}
 "{{ collections['winter-drip'].title }}" collection
{%endif%}  
 </h1>
{% for product in collections['winter-drip'].products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
    <p>{{ product.description }}
  </div>
{% endfor %}


