{% assign ss = section.settings %}

<section class="spotlight | relative w-full flex flex-wrap | lg:items-center lg:flex-nowrap | {{ ss.text-align }} {{ ss.bg_color }}-{{ss.bg_color_shade}}">

    <div class="column | py-10 px-container-gutter w-full order-2 | lg:pb-0 lg:order-2  lg:flex-[1_1_32%]">
        {% if ss.title_image != blank %}
            {% render 'responsive-image' with image: ss.title_image, image_class: 'image object-cover w-full mx-auto max-w-[500px]', wrapper_class: 'image-wrapper mb-16' %}
        {% elsif ss.title != blank %}
            <h2 class="title | mb-2 |  {{ ss.title_typeface }} {{ ss.title_weight }} {{ ss.title_color }}-{{ ss.title_color_shade }} {{ ss.title_size }}">
                {{ ss.title }}
            </h2>
        {% endif %}

        {% if ss.subtitle != blank %}
            <div class="content | mb-4 | {{ ss.subtitle_typeface }} {{ ss.subtitle_size }} {{ ss.subtitle_weight }} {{ ss.subtitle_color }}-{{ ss.subtitle_color_shade }}">
                {{ ss.subtitle }}
            </div>
        {% endif %}

        {% for block in section.blocks %}
            <div class="mb-4 flex items-center">
                {% assign bs = block.settings %}

                {% if bs.image != blank %}

                    {% render 'responsive-image' with image: bs.image, image_class: 'image object-contain', wrapper_class: 'image-wrapper w-16 h-16 flex-shrink mr-6' %}

                {% endif %}


                <div class="w-full">
                    {% if bs.title != blank %}
                        <h3 class="title | mb-2 |  {{ bs.title_typeface }} {{ bs.title_weight }} {{ bs.title_color }}-{{ bs.title_color_shade }} {{ bs.title_size }}">
                            {{ bs.title }}
                        </h3>
                    {% endif %}

                    {% if bs.content != blank %}
                        <div class="content | {{ bs.content_typeface }} {{ bs.content_weight }} {{ bs.content_size }} {{ bs.content_color }}-{{ bs.content_color_shade }}">
                            {{ bs.content }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="btn-wrapper | -mx-gutter flex {{ ss.text-align }}">

            {% if ss.btn_url != blank %}
                {% render 'button' element: 'a', type: '', href: ss.btn_url, target: '', border_color: ss.btn_border_color, border_color_shade: ss.btn_border_color_shade, border_width: 'border', bg_color: ss.btn_color, bg_color_shade: ss.btn_color_shade, text_color: ss.btn_text_color, text_color_shade: ss.btn_text_color_shade, hover_bg: ss.btn_hover_color, hover_bg_shade: ss.btn_hover_color_shade, hover_border_color: ss.btn_hover_border_color, hover_border_color_shade: ss.btn_border_hover_color_shade, hover_text: ss.btn_hover_text_color, hover_text_shade: ss.btn_hover_text_color_shade, content: ss.btn_text, custom_class: 'mx-gutter rounded-lg', before_icon: '', after_icon: '' %}
            {% endif %}

            {% if ss.alt_btn_url != blank %}
                {% render 'button' element: 'a', type: '', href: ss.alt_btn_url, target: '', border_color: ss.alt_btn_border_color, border_color_shade: ss.alt_btn_border_color_shade, border_width: 'border', bg_color: ss.alt_btn_color, text_color: ss.alt_btn_text_color, text_color_shade: ss.alt_btn_text_color_shade, hover_bg: ss.alt_btn_hover_color, hover_bg_shade: ss.alt_btn_hover_color_shade, hover_border_color: ss.alt_btn_hover_border_color, hover_border_color_shade: ss.alt_btn_border_hover_color_shade, hover_text: ss.alt_btn_hover_text_color, hover_text_shade: ss._alt_btn_hover_text_color_shade content: ss.alt_btn_text, custom_class: 'mx-gutter rounded-lg', before_icon: '', after_icon: '' %}
            {% endif %}

        </div>

    </div>

    {% if ss.image_left != blank %}
        <div id="left-image-col" class="column | w-full max-w-[500px] px-container-gutter order-1 pt-10 | lg:flex-[1_1_32%] lg:py-20 lg:pl-container-gutter-lg">

            <div class="left-image-tag-wrapper | relative | lg:-rotate-6">
                {% render 'responsive-image' with image: ss.image_left, image_class: 'image rounded-2xl w-full object-cover', wrapper_class: 'image-wrapper w-full' %}
                {% if ss.image_left_tag != blank %}
                    <div class="left-image-tag | absolute -bottom-4 -right-8 p-container-gutter inline-block {{ ss.image_left_tag_bg }}-{{ ss.image_left_tag_bg_shade }} {{ ss.image_left_tag_color }}-{{ ss.image_left_tag_color_shade }} ">
                        {{ ss.image_left_tag }}
                    </div>
                {% endif %}
            </div>

        </div>
    {% endif %}

    {% if ss.image_right != blank %}
        <div id="right-image-col" class="column | w-full max-w-[500px] order-3 px-container-gutter pb-10 | lg:flex-[1_1_32%] lg:order-3 lg:py-20 lg:pr-container-gutter-lg">
            <div class="right-image-tag-wrapper | relative | lg:rotate-6">
                {% render 'responsive-image' with image: ss.image_right, image_class: 'image rounded-2xl w-full object-cover ', wrapper_class: 'image-wrapper w-full' %}
                {% if ss.image_right_tag != blank %}
                    <div class="right-image-tag | absolute -bottom-4 -left-8 p-container-gutter inline-block {{ ss.image_right_tag_bg }}-{{ ss.image_right_tag_bg_shade }} {{ ss.image_right_tag_color }}-{{ ss.image_right_tag_color_shade }} ">
                        {{ ss.image_right_tag }}
                    </div>
                {% endif %}

            </div>

        </div>
    {% endif %}

</section>

<script>

    function animateColumnsOnScroll() {
        const screenWidth = window.innerWidth;
        if (screenWidth >= 1024) {

            const section = document.querySelector('.spotlight');
            const leftColumn = document.querySelector('#left-image-col');
            const rightColumn = document.querySelector('#right-image-col');

            // Use GSAP to create a timeline for the animation
            const timeline = gsap.timeline({
                scrollTrigger: {
                    trigger: section,
                    start: 'top 20%',
                    scrub: true,
                    pin: section,
                    pinSpacing: true,
                    markers: true, // Remove this line to hide scroll animation markers
                    toggleActions: 'play none none reverse', // Add toggleActions property
                    onEnter: () => {
                        document.querySelector(".pin-spacer").classList.add("{{ ss.bg_color }}-{{ ss.bg_color_shade }}");
                    }
                }
            });

            timeline.fromTo(leftColumn, {
                x: '100%'
            }, {
                x: 0,
                ease: 'power2.out',
                duration: 1.5
            });

            timeline.fromTo(rightColumn, {
                x: '-100%'
            }, {
                x: 0,
                ease: 'power2.out',
                duration: 1.5
            }, '<' // Set the position of the animation relative to the previous animation
            );
        }
    }

    window.addEventListener('load', animateColumnsOnScroll);
</script>
{% schema %}
    {
        "name": "Spotlight-with-animation",
        "settings": [
            {
                "type": "header",
                "content": "background color (if media is not used)"
            },
            {
                "type": "select",
                "id": "bg_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "bg-tertiary",
                        "label": "Beige (yellowish)"
                    },
                    {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent",
                        "label": "Transparent"
                    }, {
                        "value": "bg-blue",
                        "label": "Blue"
                    }, {
                        "value": "bg-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "bg-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "bg-orange",
                        "label": "Orange"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Background color"
            },
            {
                "type": "range",
                "id": "bg_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            },
            {
                "type": "header",
                "content": "Column Background media"
            }, {
                "type": "image_picker",
                "id": "image_left",
                "label": "Left Image",
                "info": "Recommended size: 400x550"
            }, {
                "type": "richtext",
                "id": "image_left_tag",
                "label": "left image tag",
                "info": "Works best with one liners"
            }, {
                "type": "select",
                "id": "image_left_tag_bg",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "bg-tertiary",
                        "label": "Beige (yellowish)"
                    },
                    {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent",
                        "label": "Transparent"
                    }, {
                        "value": "bg-blue",
                        "label": "Blue"
                    }, {
                        "value": "bg-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "bg-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "bg-orange",
                        "label": "Orange"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Left Image background",
                "default": "bg-primary"
            }, {
                "type": "range",
                "id": "image_left_tag_bg_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Left image background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "image_left_tag_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "text-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "text-tertiary",
                        "label": "Beige"
                    },
                    {
                        "value": "text-blue",
                        "label": "Blue"
                    }, {
                        "value": "text-orange",
                        "label": "Orange"
                    }, {
                        "value": "text-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "text-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Left tag text colour"
            }, {
                "type": "range",
                "id": "image_left_tag_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Left image text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "image_picker",
                "id": "image_right",
                "label": "Right Image",
                "info": "Recommended size: 400x550"
            }, {
                "type": "richtext",
                "id": "image_right_tag",
                "label": "Right image tag",
                "info": "Works best with one liners"
            }, {
                "type": "select",
                "id": "image_right_tag_bg",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "bg-tertiary",
                        "label": "Beige (yellowish)"
                    },
                    {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent",
                        "label": "Transparent"
                    }, {
                        "value": "bg-blue",
                        "label": "Blue"
                    }, {
                        "value": "bg-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "bg-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "bg-orange",
                        "label": "Orange"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Right Image background",
                "default": "bg-primary"
            }, {
                "type": "range",
                "id": "image_right_tag_bg_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Right image background color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "image_right_tag_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "text-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "text-tertiary",
                        "label": "Beige"
                    },
                    {
                        "value": "text-blue",
                        "label": "Blue"
                    }, {
                        "value": "text-orange",
                        "label": "Orange"
                    }, {
                        "value": "text-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "text-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Right tag text colour"
            }, {
                "type": "range",
                "id": "image_right_tag_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Right image text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "text-align",
                "options": [
                    {
                        "value": "text-center justify-center",
                        "label": "Center"
                    }, {
                        "value": "text-left justify-center lg:justify-start",
                        "label": "Left"
                    }, {
                        "value": "text-right justify-center lg:justify-end",
                        "label": "Right"
                    }
                ],
                "label": "Text alignment"
            }, {
                "type": "header",
                "content": "Fonts & Copy"
            }, {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title image",
                "info": "NOTE: This will override the text title"
            }, {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            }, {
                "type": "select",
                "id": "title_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Title font"
            }, {
                "type": "select",
                "id": "title_size",
                "options": [
                    {
                        "value": "text-headline-6 lg:text-headline-6-lg",
                        "label": "Heading 6"
                    },
                    {
                        "value": "text-headline-5 lg:text-headline-5-lg",
                        "label": "Heading 5"
                    },
                    {
                        "value": "text-headline-4 lg:text-headline-4-lg",
                        "label": "Heading 4"
                    },
                    {
                        "value": "text-headline-3 lg:text-headline-3-lg",
                        "label": "Heading 3"
                    }, {
                        "value": "text-headline-2 lg:text-headline-2-lg",
                        "label": "Heading 2"
                    }, {
                        "value": "text-headline-1 lg:text-headline-1-lg",
                        "label": "Heading 1"
                    }, {
                        "value": "text-display lg:text-display-lg",
                        "label": "Display"
                    }
                ],
                "label": "Title heading size"
            }, {
                "type": "select",
                "id": "title_weight",
                "options": [
                    {
                        "value": "font-bold",
                        "label": "Bold"
                    },
                    {
                        "value": "font-semibold",
                        "label": "Semibold"
                    },
                    {
                        "value": "font-medium",
                        "label": "Medium"
                    },
                    {
                        "value": "font-normal",
                        "label": "Normal"
                    }, {
                        "value": "font-light",
                        "label": "Light"
                    }, {
                        "value": "font-extralight",
                        "label": "Extralight"
                    }, {
                        "value": "font-thin",
                        "label": "Thin"
                    }
                ],
                "label": "Weight"
            }, {
                "type": "select",
                "id": "title_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "text-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "text-tertiary",
                        "label": "Beige"
                    },
                    {
                        "value": "text-blue",
                        "label": "Blue"
                    }, {
                        "value": "text-orange",
                        "label": "Orange"
                    }, {
                        "value": "text-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "text-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Title color"
            }, {
                "type": "range",
                "id": "title_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Title color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            }, {
                "type": "select",
                "id": "subtitle_typeface",
                "options": [
                    {
                        "value": "font-headline",
                        "label": "Headline"
                    }, {
                        "value": "font-body",
                        "label": "Body"
                    }
                ],
                "label": "Subtitle font"
            }, {
                "type": "select",
                "id": "subtitle_size",
                "options": [
                    {
                        "value": "text-body-small lg:text-body-small-lg",
                        "label": "Body Small"
                    },
                    {
                        "value": "text-body-medium lg:text-body-medium-lg",
                        "label": "Body Medium"
                    },
                    {
                        "value": "text-body-large lg:text-body-large-lg",
                        "label": "Body Large"
                    },
                    {
                        "value": "text-headline-6 lg:text-headline-6-lg",
                        "label": "Heading 6"
                    }, {
                        "value": "text-headline-5 lg:text-headline-5-lg",
                        "label": "Heading 5"
                    }, {
                        "value": "text-headline-4 lg:text-headline-4-lg",
                        "label": "Heading 4"
                    }, {
                        "value": "text-headline-3 lg:text-headline-3-lg",
                        "label": "Heading 3"
                    }, {
                        "value": "text-headline-2 lg:text-headline-2-lg",
                        "label": "Heading 2"
                    }, {
                        "value": "text-headline-1 lg:text-headline-1-lg",
                        "label": "Heading 1"
                    }, {
                        "value": "text-display lg:text-display-lg",
                        "label": "Display"
                    }
                ],
                "label": "Subtitle heading size"
            }, {
                "type": "select",
                "id": "subtitle_weight",
                "options": [
                    {
                        "value": "font-bold",
                        "label": "Bold"
                    },
                    {
                        "value": "font-semibold",
                        "label": "Semibold"
                    },
                    {
                        "value": "font-medium",
                        "label": "Medium"
                    },
                    {
                        "value": "font-normal",
                        "label": "Normal"
                    }, {
                        "value": "font-light",
                        "label": "Light"
                    }, {
                        "value": "font-extralight",
                        "label": "Extralight"
                    }, {
                        "value": "font-thin",
                        "label": "Thin"
                    }
                ],
                "label": "Weight"
            }, {
                "type": "select",
                "id": "subtitle_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "text-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "text-tertiary",
                        "label": "Beige"
                    },
                    {
                        "value": "text-blue",
                        "label": "Blue"
                    }, {
                        "value": "text-orange",
                        "label": "Orange"
                    }, {
                        "value": "text-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "text-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Subtitle color"
            }, {
                "type": "range",
                "id": "subtitle_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Subtitle color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "header",
                "content": "button 1"
            }, {
                "type": "text",
                "id": "btn_text",
                "label": "Button text"
            }, {
                "type": "url",
                "id": "btn_url",
                "label": "Button URL"
            }, {
                "type": "select",
                "id": "btn_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "bg-tertiary",
                        "label": "Beige (yellowish)"
                    },
                    {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent",
                        "label": "Transparent"
                    }, {
                        "value": "bg-blue",
                        "label": "Blue"
                    }, {
                        "value": "bg-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "bg-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "bg-orange",
                        "label": "Orange"
                    }, {
                        "value": "",
                        "label": "None"
                    }
                ],
                "label": "Button color"
            }, {
                "type": "range",
                "id": "btn_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_border_color",
                "options": [
                    {
                        "value": "border-primary",
                        "label": "Border Teal"
                    },
                    {
                        "value": "border-secondary",
                        "label": "Border Brown"
                    },
                    {
                        "value": "border-neutral",
                        "label": "Border White"
                    },
                    {
                        "value": "border-tertiary ",
                        "label": "Beige"
                    }, {
                        "value": "border-blue ",
                        "label": "Blue"
                    }, {
                        "value": "border-orange ",
                        "label": "Orange"
                    }, {
                        "value": "border-yellow ",
                        "label": "Yellow"
                    }, {
                        "value": "border-salmon ",
                        "label": "Salmon"
                    }, {
                        "value": "border-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button border color"
            }, {
                "type": "range",
                "id": "btn_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button border color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_text_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "text-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "text-tertiary",
                        "label": "Beige"
                    },
                    {
                        "value": "text-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "text-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "text-blue",
                        "label": "Blue"
                    }, {
                        "value": "text-orange",
                        "label": "Orange"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Button text color"
            }, {
                "type": "range",
                "id": "btn_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "header",
                "content": "button 1 hover styles"
            }, {
                "type": "select",
                "id": "btn_hover_color",
                "options": [
                    {
                        "value": "hover:bg-primary",
                        "label": "Teal"
                    },
                    {
                        "value": "hover:bg-secondary",
                        "label": "Brown"
                    },
                    {
                        "value": "hover:bg-neutral",
                        "label": "White"
                    },
                    {
                        "value": "hover:bg-teriary",
                        "label": "Beige"
                    }, {
                        "value": "hover:bg-blue",
                        "label": "Blue"
                    }, {
                        "value": "hover:bg-yellow",
                        "label": "Yellow"
                    }, {
                        "value": "hover:bg-orange",
                        "label": "Orange"
                    }, {
                        "value": "hover:bg-salmon",
                        "label": "Salmon"
                    }, {
                        "value": "hover:bg-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button hover color"
            }, {
                "type": "range",
                "id": "btn_hover_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_hover_border_color",
                "options": [
                    {
                        "value": "hover:border-primary",
                        "label": "Border Teal"
                    }, {
                        "value": "hover:border-secondary",
                        "label": "Border Brown"
                    }, {
                        "value": "hover:border-neutral",
                        "label": "Border White"
                    }, {
                        "value": "hover:border-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button hover border color"
            }, {
                "type": "range",
                "id": "btn_hover_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "btn_hover_text_color",
                "options": [
                    {
                        "value": "hover:text-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Button hover text color"
            }, {
                "type": "range",
                "id": "btn_hover_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Button hover text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "header",
                "content": "button 2"
            }, {
                "type": "text",
                "id": "alt_btn_text",
                "label": "Alt button text"
            }, {
                "type": "url",
                "id": "alt_btn_url",
                "label": "Alt button URL"
            }, {
                "type": "select",
                "id": "alt_btn_color",
                "options": [
                    {
                        "value": "bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "bg-neutral",
                        "label": "White"
                    }, {
                        "value": "bg-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Alt button color"
            }, {
                "type": "range",
                "id": "alt_btn_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "alt_btn_border_color",
                "options": [
                    {
                        "value": "border-primary",
                        "label": "Border Teal"
                    }, {
                        "value": "border-secondary",
                        "label": "Border Brown"
                    }, {
                        "value": "border-neutral",
                        "label": "Border White"
                    }, {
                        "value": "border-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Alt Button border color"
            }, {
                "type": "range",
                "id": "alt_btn_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt Button color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "alt_btn_text_color",
                "options": [
                    {
                        "value": "text-primary",
                        "label": "Teal"
                    }, {
                        "value": "text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Alt Button text color"
            }, {
                "type": "range",
                "id": "alt_btn_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt button text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "header",
                "content": "button 2 hover styles"
            }, {
                "type": "select",
                "id": "alt_btn_hover_color",
                "options": [
                    {
                        "value": "hover:bg-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:bg-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:bg-neutral",
                        "label": "White"
                    }, {
                        "value": "hover:bg-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Button hover color"
            }, {
                "type": "range",
                "id": "alt_btn_hover_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt Button hover color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "alt_btn_hover_border_color",
                "options": [
                    {
                        "value": "hover:border-primary",
                        "label": "Border Teal"
                    }, {
                        "value": "hover:border-secondary",
                        "label": "Border Brown"
                    }, {
                        "value": "hover:border-neutral",
                        "label": "Border White"
                    }, {
                        "value": "hover:border-transparent ",
                        "label": "None"
                    }
                ],
                "label": "Alt Button hover border color"
            }, {
                "type": "range",
                "id": "alt_btn_hover_border_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt Button hover border color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }, {
                "type": "select",
                "id": "alt_btn_hover_text_color",
                "options": [
                    {
                        "value": "hover:text-primary",
                        "label": "Teal"
                    }, {
                        "value": "hover:text-secondary",
                        "label": "Brown"
                    }, {
                        "value": "hover:text-neutral",
                        "label": "White"
                    }
                ],
                "label": "Alt Button hover text color"
            }, {
                "type": "range",
                "id": "alt_btn_hover_text_color_shade",
                "min": 0,
                "max": 900,
                "step": 100,
                "label": "Alt Button hover text color shade",
                "info": "Number range 0 - 900. Lighest to darkest",
                "default": 500
            }
        ],
        "blocks": [
            {
                "type": "grid-item",
                "name": "Grid item",
                "settings": [
                    {
                        "type": "header",
                        "content": "background media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image",
                        "info": "Recommended size: 1440x800px"
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "select",
                        "id": "title_typeface",
                        "options": [
                            {
                                "value": "font-headline",
                                "label": "Headline"
                            }, {
                                "value": "font-body",
                                "label": "Body"
                            }
                        ],
                        "label": "Title font"
                    }, {
                        "type": "select",
                        "id": "title_size",
                        "options": [
                            {
                                "value": "text-headline-6 lg:text-headline-6-lg",
                                "label": "Heading 6"
                            },
                            {
                                "value": "text-headline-5 lg:text-headline-5-lg",
                                "label": "Heading 5"
                            },
                            {
                                "value": "text-headline-4 lg:text-headline-4-lg",
                                "label": "Heading 4"
                            },
                            {
                                "value": "text-headline-3 lg:text-headline-3-lg",
                                "label": "Heading 3"
                            }, {
                                "value": "text-headline-2 lg:text-headline-2-lg",
                                "label": "Heading 2"
                            }, {
                                "value": "text-headline-1 lg:text-headline-1-lg",
                                "label": "Heading 1"
                            }, {
                                "value": "text-display lg:text-display-lg",
                                "label": "Display"
                            }
                        ],
                        "label": "Title heading size"
                    }, {
                        "type": "select",
                        "id": "title_weight",
                        "options": [
                            {
                                "value": "font-bold",
                                "label": "Bold"
                            },
                            {
                                "value": "font-semibold",
                                "label": "Semibold"
                            },
                            {
                                "value": "font-medium",
                                "label": "Medium"
                            },
                            {
                                "value": "font-normal",
                                "label": "Normal"
                            }, {
                                "value": "font-light",
                                "label": "Light"
                            }, {
                                "value": "font-extralight",
                                "label": "Extralight"
                            }, {
                                "value": "font-thin",
                                "label": "Thin"
                            }
                        ],
                        "label": "Weight"
                    }, {
                        "type": "select",
                        "id": "title_color",
                        "options": [
                            {
                                "value": "text-primary",
                                "label": "Teal"
                            }, {
                                "value": "text-secondary",
                                "label": "Brown"
                            }, {
                                "value": "text-neutral",
                                "label": "White"
                            }
                        ],
                        "label": "Title color"
                    }, {
                        "type": "range",
                        "id": "title_color_shade",
                        "min": 0,
                        "max": 900,
                        "step": 100,
                        "label": "Title color shade",
                        "info": "Number range 0 - 900. Lighest to darkest",
                        "default": 500
                    }, {
                        "type": "richtext",
                        "id": "content",
                        "label": "content"
                    }, {
                        "type": "select",
                        "id": "content_typeface",
                        "options": [
                            {
                                "value": "font-headline",
                                "label": "Headline"
                            }, {
                                "value": "font-body",
                                "label": "Body"
                            }
                        ],
                        "label": "Content font"
                    }, {
                        "type": "select",
                        "id": "content_size",
                        "options": [
                            {
                                "value": "text-body-small lg:text-body-small-lg",
                                "label": "Body Small"
                            },
                            {
                                "value": "text-body-medium lg:text-body-medium-lg",
                                "label": "Body Medium"
                            },
                            {
                                "value": "text-body-large lg:text-body-large-lg",
                                "label": "Body Large"
                            },
                            {
                                "value": "text-headline-6 lg:text-headline-6-lg",
                                "label": "Heading 6"
                            }, {
                                "value": "text-headline-5 lg:text-headline-5-lg",
                                "label": "Heading 5"
                            }, {
                                "value": "text-headline-4 lg:text-headline-4-lg",
                                "label": "Heading 4"
                            }, {
                                "value": "text-headline-3 lg:text-headline-3-lg",
                                "label": "Heading 3"
                            }, {
                                "value": "text-headline-2 lg:text-headline-2-lg",
                                "label": "Heading 2"
                            }, {
                                "value": "text-headline-1 lg:text-headline-1-lg",
                                "label": "Heading 1"
                            }, {
                                "value": "text-display lg:text-display-lg",
                                "label": "Display"
                            }
                        ],
                        "label": "Title heading size"
                    }, {
                        "type": "select",
                        "id": "content_weight",
                        "options": [
                            {
                                "value": "font-bold",
                                "label": "Bold"
                            },
                            {
                                "value": "font-semibold",
                                "label": "Semibold"
                            },
                            {
                                "value": "font-medium",
                                "label": "Medium"
                            },
                            {
                                "value": "font-normal",
                                "label": "Normal"
                            }, {
                                "value": "font-light",
                                "label": "Light"
                            }, {
                                "value": "font-extralight",
                                "label": "Extralight"
                            }, {
                                "value": "font-thin",
                                "label": "Thin"
                            }
                        ],
                        "label": "Weight"
                    }, {
                        "type": "select",
                        "id": "content_color",
                        "options": [
                            {
                                "value": "text-primary",
                                "label": "Teal"
                            }, {
                                "value": "text-secondary",
                                "label": "Brown"
                            }, {
                                "value": "text-neutral",
                                "label": "White"
                            }
                        ],
                        "label": "Content color"
                    }, {
                        "type": "range",
                        "id": "content_color_shade",
                        "min": 0,
                        "max": 900,
                        "step": 100,
                        "label": "Content color shade",
                        "info": "Number range 0 - 900. Lighest to darkest",
                        "default": 500
                    }
                ]
            }

        ],
        "presets": [
            {
                "name": "Spotlight-with-animation"
            }
        ]

    }
{% endschema %}